<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/js/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">DM130 后台控制平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">服务器控制台</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <div id="sys_info">
                <ul class="layui-nav layui-layout-right">

                    <li class="layui-nav-item">
                        <label>CPU {{cpu_use}}%&nbsp;&nbsp;&nbsp;MEM {{mem_use}}%</label>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="../static/img/head.jpg" class="layui-nav-img">
                            屠夫
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a>基本资料</a></dd>
                            <dd><a>安全设置</a></dd>
                            <dd><a>推出</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item"><a href="">总览</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">登录系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">监控台</a></dd>
                            <dd><a href="javascript:;">Rolltubs</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">任务系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">任务总览</a></dd>
                            <dd><a href="javascript:;">任务分析</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">副本系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">副本总览</a></dd>
                            <dd><a href="javascript:;">副本分析</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="background-color: whitesmoke;">
            <iframe name="content" src="login/login_info" height="100%" width="100%" frameborder="0"
                scrolling="yes"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="../static/js/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>

    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>

    <script src="../static/js/sys_info.js"></script>

</body>

</html>