<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/js/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">DM130 后台控制平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <div class="layui-row" style="padding: 20px;">
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">综合</div>
                            <div class="layui-card-body">
                                <div id="main" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">限速队列</div>
                            <div class="layui-card-body">
                                <div id="queue_speed_limit" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">高优先级</div>
                            <div class="layui-card-body">
                                <div id="queue_priority_high" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">中优先级</div>
                            <div class="layui-card-body">
                                <div id="queue_priority_mid" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">低优先级</div>
                            <div class="layui-card-body">
                                <div id="queue_priority_low" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="../static/js/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                joke: '123'
            },
            methods: {
                get_json: function () {
                    // axios.get("http://127.0.0.1:5000/").then(fun1, fun2);
                    // axios.get("https://autumnfish.cn/api/joke/list?num=1").then(this.fun1, this.fun2);
                    axios.get("http://localhost:5000/login/info").then(this.fun1).catch(this.fun2);
                },
                fun1: function (response) {
                    this.joke = response.data;
                },
                fun2: function (response) {
                    alert('error');
                },
            },
            mounted() {
                this.timer = setInterval(this.get_json, 1000);
            },
            beforeDestroy() {
                clearInterval(this.timer);
            }

        })
        // alert('123')
        // axios.get("http://127.0.0.1:5000/").then(fun1, fun2);

        layui.use('element', function () {
            var element = layui.element;

            //…
        });

    </script>

    <script src="../static/js/login_info.js">
    </script>
</body>

</html>